<% layout("layouts/boilerplate.ejs") %>

    <body>
        <h3>All Listnings</h3>
        <!-- <form method="get" action="/listings/new">
        <button>Create new Listning</button>
    </form> -->
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
            <%for(let listings of allListings){ %>
                <a href="/listings/<%=listings._id%>" class="listing-link">
                    <div class="card col">
                        <img src="<%= listings.image %>" class="card-img-top" alt="listing_image"
                            style="height: 20rem;">
                              <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listings.title %>
                                </b>
                                <br>
                                <%= listings.price.toLocaleString("en-In") %> / night
                            </p>
                        </div>
                    </div>
                </a>
                <%}%>
        </div>
    </body>